flask
flask-sqlalchemy
flask-login
flask-mail
flask-wtf
flask-limiter
psycopg2-binary
python-dotenv
pymupdf
requests
werkzeug
markupsafe
itsdangerous
cloudinary
google-generativeai
xhtml2pdf
matplotlib
pandas
Pillow