<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduPath - Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/signup.css" />
</head>

<body>

    <div class="signup-container">

        <!-- Left Panel -->
        <div class="left-panel">
            <div class="logo-box">
                <img src="/static/images/Logo design for CGPA Hub-Photoroom.png" class="logo-icon" />
                <p></p>
                <img src="/static/images/EduPath.png" alt="EduPath Logo" class="logo_name" />
            </div>
        </div>

        <!-- Right Panel -->
        <div class="right-panel">

            <!-- Flash Message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-box">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">
                        {{ message|safe }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

            <form class="login-form" method="POST">

    <h2>Reset Password</h2>

    <p style="font-size: 13px; margin-bottom: 15px;">
        Enter your new password below:
    </p>

    <div class="password-wrapper">
        <input type="password"
               name="password"
               id="resetPassword"
               class="password-input"
               placeholder="New Password"
               required>

        <i class="bi bi-eye-slash password-eye"
           onclick="togglePassword('resetPassword', this)">
        </i>
    </div>

    <button type="submit" style="font-size: medium;">
        Save Password
    </button>

    <p class="signup-text" style="margin-top: 70px;">
        Remember your password?
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>

</form>

        </div>

    </div>

    <script>
function togglePassword(inputId, icon) {

    const input = document.getElementById(inputId);

    if (input.type === "password") {
        input.type = "text";

        icon.classList.remove("bi-eye-slash");
        icon.classList.add("bi-eye");

    } else {
        input.type = "password";

        icon.classList.remove("bi-eye");
        icon.classList.add("bi-eye-slash");
    }
}
</script>
</body>
</html>